*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid_elem{
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}
.grid-container{
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    /* align-items: center;
    justify-items: center; */
    justify-content: center;
    align-content: center;
    /* place-content: align-content + justify-content; */
    place-content: space-around center;

    /* place-items: align-items + justify-items; */
    /* place-items: end center; */


    .grid_elem:nth-child(1){
        /* grid-column: 1/5; */
        /* align-self: start; */
        /* justify-self: center; */

        /* place-self: align-self + justify-self; */
        place-self: center;
    }
    .grid_elem:nth-child(2){
        /* grid-row: 2/4; */
        /* grid-column: 1/2; */
    }
    .grid_elem:nth-child(5){
        /* grid-row: 2/4; */
        /* grid-column: 4; */
    }
    .grid_elem:nth-child(6){
        /* grid-row: 4; */
        /* grid-column: 1/5; */
    }
}
